Project Development Phase/Sprint 2/flows-1.json
[
    {
        "id": "67d9b9581d15c0f4",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8ac150df4d98308",
        "type": "ibmiot in",
        "z": "67d9b9581d15c0f4",
        "authentication": "apiKey",
        "apiKey": "bb0b8f8343d0f4e1",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Mani1234",
        "applicationId": "",
        "deviceType": "sample",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "c0dcb3de6ec26abf",
                "ef60c828df53e1c1",
                "f56ffb9a0a48df90"
            ]
        ]
    },
    {
        "id": "ef60c828df53e1c1",
        "type": "function",
        "z": "67d9b9581d15c0f4",
        "name": "weight",
        "func": "msg.payload=msg.payload.weight\nglobal.set('w',msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "70f4792a6c2339f1"
            ]
        ]
    },
    {
        "id": "f56ffb9a0a48df90",
        "type": "function",
        "z": "67d9b9581d15c0f4",
        "name": "level",
        "func": "msg.payload=msg.payload.level\nglobal.set('l',msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "d5cc58a0de0696a5"
            ]
        ]
    },
    {
        "id": "d5cc58a0de0696a5",
        "type": "ui_gauge",
        "z": "67d9b9581d15c0f4",
        "name": "level",
        "group": "453d6b39e8253096",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "level",
        "label": "Cm",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "c0dcb3de6ec26abf",
        "type": "debug",
        "z": "67d9b9581d15c0f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "f72df1465bd0fa53",
        "type": "http in",
        "z": "67d9b9581d15c0f4",
        "name": "",
        "url": "/sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "0f10aa9afe1bb01b"
            ]
        ]
    },
    {
        "id": "75bc9c6d57087390",
        "type": "http response",
        "z": "67d9b9581d15c0f4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "0f10aa9afe1bb01b",
        "type": "function",
        "z": "67d9b9581d15c0f4",
        "name": "",
        "func": "msg.payload={\"weight\":global.get(\"w\"),\"level\":global.get(\"l\")}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "75bc9c6d57087390"
            ]
        ]
    },
    {
        "id": "70f4792a6c2339f1",
        "type": "ui_gauge",
        "z": "67d9b9581d15c0f4",
        "name": "weight",
        "group": "453d6b39e8253096",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "weight",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb0b8f8343d0f4e1",
        "type": "ibmiot",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "453d6b39e8253096",
        "type": "ui_group",
        "name": "Default",
        "tab": "381d0f64fdd864c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "381d0f64fdd864c3",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]